parameters:
  inferPrivatePropertyTypeFromConstructor: true
  excludes_analyse:
    - src/Handler/Action/*
    - src/Handler/Assertion/*
    - src/Handler/StepHandler.php
    - tests/DataProvider/*
    - tests/Functional/CallFactory/*
    - tests/Functional/ClassDefinitionFactoryTest.php
    - tests/Functional/Handler/Action/*
    - tests/Functional/Handler/Assertion/*
    - tests/Functional/Handler/NamedDomIdentifierHandlerTest.php
    - tests/Functional/Handler/StepHandlerTest.php
    - tests/Services/*
    - tests/Unit/AbstractTestCase.php
    - tests/Unit/CallFactory/*
    - tests/Unit/ClassDefinitionFactoryTest.php
    - tests/Unit/Handler/Action/ActionHandlerTest.php
    - tests/Unit/Handler/Assertion/*
    - tests/Unit/Handler/DomIdentifierExistenceHandlerTest.php
    - tests/Unit/Handler/NamedDomIdentifierHandlerTest.php
    - tests/Unit/Handler/StepHandlerTest.php
    - tests/Unit/StepMethodFactoryTest.php

  ignoreErrors:
    # Return type of 'array' of test data providers
    -
      message: '#DataProvider\(\) return type has no value type specified in iterable type array#'
      path: 'tests'

    # Test methods with intentionally no return type
    -
      message: '#::test.+\(\) has no return typehint specified#'
      path: 'tests'

#    -
#      message: '#::assert.+\(\) has no return typehint specified#'
#      path: 'tests'

    # Test method with argument type-hinted as 'array'
    -
      message: '#::test.+\(\) has parameter \$.+ with no value type specified in iterable type array#'
      path: 'tests'
